* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logoname{
    font-size: 32px;
    margin-left: 32px;
    padding: 17px;
}
.purple {
    color: #EC4067;
    font-weight: bold;
}
.list {
    margin-right: 45px;
}
.list li{
    display: inline-block;
    padding: 18px;
    margin-top: 10px;
}
.navbar button {
    padding: 7px 22px;
    background-color: #EC4067;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 18px;
}
.body-wrapper {
    position: relative;
    margin: 0px 70px 0px 100px;
}
.sec_one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    width: 60%;
    /* line-height: 40px; */
}


.left p:nth-child(2) {
    color: #EC4067;
    font-size: 45px;
    margin-top: 12px;
}
.left p:nth-child(3){
    margin: 25px 0;
    font-size: 20px;
    /* line-height: 20px; */
}
.right img{
    max-width: 100%;
    height: 70vh;
}
.buttons button{
    padding: 7px 20px;
}
.buttons .btn_1{
    background-color: #EC4067;
    border: none;
    color: white;
    margin-right: 15px;
    border-radius: 3px;
    padding: 10px 20px;
}
.buttons .btn_2{
    background: transparent;
    border: 1px solid #EC4067;
    color: #EC4067;
}
.sec-3 p{
    font-size: 30px;
}
.sec-3 .sec3span{
    background-color: lightgray;
}

.sec-3 .sec3span2{
    font-size: 14px;
}
.stories{
    margin: 30px auto;
}
.stories p{
    font-size: 30px;
}
.stories .stry1span {
    background-color: lightgray;
}
    
.stories .stry1span2{
    font-size: 14px;
}
.orientation-img {
    position: relative;
}
.graduation-img {
    position: relative;
}
.board-img {
    position: relative;
}
.float1 {
    position: absolute;
    top: 8px;
    right: 16px; 
    color: white;
}
.float2{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}
.float3{
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}
.float4{
    position: absolute;
    bottom: 8px;
    right: 16px;
color: white;
}
.orientation{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.orientation .orientation-txt{
    width: 500px;
}
.orientation .orientation-img img{
    width: 500px;
    height: auto;
}
.orientation .orientation-txt button{
    background-color: #EC4067;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
}

.board{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.board .board-txt{
    max-width: 500px;
}
.board .board-img img{
    width: 500px;
    height: auto;
}
.board .board-txt button{
    background-color: #EC4067;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
}

.graduation{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.graduation .graduation-txt{
    width: 500px;
}
.graduation .graduation-img img{
    width: 500px;
    height: auto;
}
.graduation .graduation-txt button{
    background-color: #EC4067;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
}
.mentors{
    /* margin: 30px; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mentors button{
    margin: 10px 0;
    color: white;
    background-color: #EC4067;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

.image1 img{
    /* position: relative; */
    width: 200px;
    height: auto;
}
.mentors .pe1{
    position: absolute;
    bottom: 170px;
    padding-left: 10px;
    color: white;
}
.image1 .pe2, .pe3{
    width: 200px;
}
.image1 .pe2{
    color: #EC4067;
}.image2 img{
    position: relative;
    width: 200px;
    height: auto;
}
/* .image2 .pe1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
} */
.image2 .pe2, .pe3{
    width: 200px;
}
.image2 .pe2{
    color: #EC4067;
}
.image3 img{
    position: relative;
    width: 200px;
    height: auto;
}
/* .image3 .pe1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
} */
.image3 .pe2, .pe3{
    width: 200px;
}
.image3 .pe2{
    color: #EC4067;
}
.image4 img{
    position: relative;
    width: 200px;
    height: auto;
}
.image4 .pe2, .pe3{
    width: 200px;
}
.image4 .pe2{
    color: #EC4067;
}
.sec-4 p{
    font-size: 30px;
}
.sec-4 .sec3span{
    background-color: lightgray;
}

.sec-4 .sec3span2{
    font-size: 14px;
}

.sec_two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    width: 100%;
}
.down {
    width: 40%;
}
.lastsec{
    margin: 50px auto;

}
.lastsec .lastsec-p{
    color: #EC4067;
    font-size: 30px;
}
.lastsec-p2 button {
    background-color: #EC4067;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;

}
.lastsec .lastsecspan{
    color: #EC4067;
}


footer {
    background-color: lightgrey;
    bottom: 0;
    padding: 50px;
    text-align: center;
    position: relative;
    width: 100%;
}
footer i{
    color: red;
}
